
{% load staticfiles%}
{% block javascript %}
  
  	<script>
  		$(function() {
  			$(".auto-complete-vehicle").autocomplete({
				source: "{% url 'fleet:get_vehicle' %}",
	    		minLength: 2});

  			$(".auto-complete-driver").autocomplete({
				source: "{% url 'fleet:get_employee' %}",
	    		minLength: 2});
  		});

	</script>	

{% endblock %}
	
	
<table class="table table-hover">
	<tr>
		<th class="col-hidden">Office</th>								
		<th>Commented</th>
		<th class="col-hidden col-hidden-2" style="width: 50%">Comments</th>
		<th class="col-hidden col-hidden-2">Comment Type</th>
		<th>Commenter</th>																		
		
	</tr>								
	{% for transaction in comments %}
		<tr>
			<td class="col-hidden">{{ transaction.office }} </td>									
			<td>{{ transaction.commented }}</td>
			<td class="comment col-comment">{{ transaction.comments }} </td>
			<td class="col-hidden col-hidden-2">{{ transaction.comment_type }}</td>
			<td class="col-hidden col-hidden-2">{{ transaction.created_by }}</td>
			
		</tr>										
	{%  endfor %}						
</table>
{% if comments.has_other_pages %}
  <ul class="pagination pull-right">
    {% if comments.has_previous %}
      <li><a href="?page={{ comments.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
   <li class="active"><span>{{  comments.number }} of {{comments.paginator.num_pages}}<span class="sr-only">(current)</span></span></li> 
    {% if comments.has_next %}
      <li><a href="?page={{ comments.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
