{% extends "base.html" %}
{% load staticfiles%}
{% load crispy_forms_tags %}
{% load humanize %}
{% block javascript %}
  
  	<script>
  		$(function() {
  			$(".auto-complete-vehicle").autocomplete({
				source: "{% url 'fleet:get_vehicle' %}",
	    		minLength: 2});

  			$(".auto-complete-driver").autocomplete({
				source: "{% url 'fleet:get_employee' %}",
	    		minLength: 2});
  		});

	</script>
	

{% endblock %}

{% block content%}
	<div class="panel panel-primary transparency">
		<div class="panel-heading">
		 	<b>{{title}}</b>
		</div>

		<div class="panel-body">
			<ul class="nav nav-pills">
				<li><a data-toggle="pill" href="#LA">Lease Agreements</a></li>
				<li><a data-toggle="pill" href="#LR">Lease Renewals</a></li>
				<li><a data-toggle="pill" href="#PM">Property Maintenance</a></li>				
				
			</ul>
			<div class="tab-content">
				<div id="LA" class="tab-pane fade in active">					
					<form method="GET" action="">	
					<p><div class="row">
							<div class="col-md-3">{{filter_form.branch}}</div>
							<div class="col-md-2">{{filter_form.start_date}}</div>
							<div class="col-md-2">{{filter_form.end_date}}</div>
							<div class="col-md-2"><input class="btn btn-warning" id="filter_leases" name="filter_leases" type="submit" value="Search"/></div>
						  </div></p>	  
						
						<table class="table table-hover ">	
						<tr>
								<th>Branch</th>
								<th class="col-hidden col-hidden-2">Region</th>
								<th class="col-hidden col-hidden-2">Leasee</th>								
								<th>Leasor</th>
								<th class="col-hidden">Contact Person</th>
								<th class="col-hidden">Expiry Date</th>
								<th class="col-hidden col-hidden-2">Notice Term</th>
								<th></th>
							</tr>								
							{% for lease in leases %}
								<tr>
									<td>{{ lease.branch }}</td>
									<td class="col-hidden col-hidden-2">{{ lease.branch.region }} </td>
									<td class="col-hidden col-hidden-2">{{ lease.current_leasee }} </td>
									<td>{{ lease.leasor }} </td>
									<td class="col-hidden">{{ lease.contact_person }}</td>
									<td class="col-hidden">{{ lease.lease_expiry_date }}</td>
									<td class="col-hidden col-hidden-2">{{ lease.notice_term }}</td>																	
									<td><a href="{% url 'property:edit_leaseagreement' lease.id %}"><i class="fa fa-check" aria-hidden="true"></i> Auth</a></td>
								</tr>										
							{% endfor %}						
											
						</table>
						{% if leases.has_other_pages %}
						  <ul class="pagination pull-right">
						    {% if leases.has_previous %}
						      <li><a href="?page={{ leases.previous_page_number }}">&laquo;</a></li>
						    {% else %}
						      <li class="disabled"><span>&laquo;</span></li>
						    {% endif %}
						     <li class="active"><span>{{  leases.number }} of {{leases.paginator.num_pages}}<span class="sr-only">(current)</span></span></li> 
						    {% if leases.has_next %}
						      <li><a href="?page={{ leases.next_page_number }}">&raquo;</a></li>
						    {% else %}
						      <li class="disabled"><span>&raquo;</span></li>
						    {% endif %}
						  </ul>
						{% endif %}
					</form>									
				</div>


				<div id="LR" class="tab-pane fade">
					<form method="GET" action="">	
					<p><div class="row">
							<div class="col-md-3">{{filter_form.branch}}</div>
							<div class="col-md-2">{{filter_form.start_date}}</div>
							<div class="col-md-2">{{filter_form.end_date}}</div>
							<div class="col-md-2"><input class="btn btn-warning" id="filter_renewal" name="filter_renewal" type="submit" value="Search"/></div>
						  </div></p>	  
							
					<table class="table table-hover ">	
					<tr>
							<th>Branch</th>
							<th class="col-hidden col-hidden-2">Region</th>							
							<th class="col-hidden">Expired</th>
							<th>Renewal Date</th>
							<th class="col-hidden col-hidden-2">Expiry Date</th>							
							<th></th>
						</tr>								
						{% for lease in renewal %}
							<tr>
								<td>{{ lease.branch }}</td>
								<td class="col-hidden col-hidden-2">{{ lease.branch.region }} </td>								
								<td class="col-hidden">{{ lease.expiry_date }}</td>
								<td>{{ lease.renewal_date }}</td>
								<td class="col-hidden col-hidden-2">{{ lease.new_expiry_date }}</td>
																								
								<td><a href="{% url 'property:edit_renew_leaseagreement' lease.id %}"><i class="fa fa-check" aria-hidden="true"></i> Auth</a></td>
							</tr>										
						{% endfor %}							
										
					</table>
					{% if renewal.has_other_pages %}
					  <ul class="pagination pull-right">
					    {% if renewal.has_previous %}
					      <li><a href="?page={{ renewal.previous_page_number }}">&laquo;</a></li>
					    {% else %}
					      <li class="disabled"><span>&laquo;</span></li>
					    {% endif %}
					     <li class="active"><span>{{  renewal.number }} of {{renewal.paginator.num_pages}}<span class="sr-only">(current)</span></span></li> 
					    {% if renewal.has_next %}
					      <li><a href="?page={{ renewal.next_page_number }}">&raquo;</a></li>
					    {% else %}
					      <li class="disabled"><span>&raquo;</span></li>
					    {% endif %}
					  </ul>
					{% endif %}
					</form>				
				</div>


				<div id="PM" class="tab-pane fade">					
					<form method="GET" action="">	
					<p><div class="row">
							<div class="col-md-3">{{filter_form.branch}}</div>
							<div class="col-md-2">{{filter_form.start_date}}</div>
							<div class="col-md-2">{{filter_form.end_date}}</div>
							<div class="col-md-2"><input class="btn btn-warning" id="filter_property_maintenance" name="filter_property_maintenance" type="submit" value="Search"/></div>
						  </div></p>			
						<table class="table table-hover ">
						<tr>								
								<th class="col-hidden col-hidden-2">Region</th>
								<th>Branch</th>
								<th class="col-hidden">Date</th>
								<th>Type</th>
								<th class="col-hidden col-hidden-2" style="width: 30%">Description</th>							
								<th class="col-hidden col-hidden-2">Service Provider</th>							
								<th class="col-hidden col-hidden-2">Status</th>								
								<th></th>
							</tr>								
							{% for maintenance in property_maintenance %}
								<tr>
									<td class="col-hidden col-hidden-2">{{ maintenance.branch.region }}</td>
									<td>{{ maintenance.branch }} </td>
									<td class="col-hidden">{{ maintenance.maint_date }} </td>
									<td>{{ maintenance.maintenance_type }} </td>
									<td class="col-hidden col-hidden-2">{{ maintenance.description }} </td>
									<td class="col-hidden col-hidden-2">{{ maintenance.service_provider }}</td>
									<td class="col-hidden col-hidden-2">{{ maintenance.status }}</td>																							
									<td><a href="{% url 'property:edit_propertymaintanance' maintenance.id %}"><i class="fa fa-check" aria-hidden="true"></i> Auth</a></td>
								</tr>								
													
							{% endfor %}						
						</table>
						{% if property_maintenance.has_other_pages %}
						  <ul class="pagination pull-right">
						    {% if property_maintenance.has_previous %}
						      <li><a href="?page={{ property_maintenance.previous_page_number }}">&laquo;</a></li>
						    {% else %}
						      <li class="disabled"><span>&laquo;</span></li>
						    {% endif %}
						     <li class="active"><span>{{  property_maintenance.number }} of {{property_maintenance.paginator.num_pages}}<span class="sr-only">(current)</span></span></li> 
						    {% if property_maintenance.has_next %}
						      <li><a href="?page={{ property_maintenance.next_page_number }}">&raquo;</a></li>
						    {% else %}
						      <li class="disabled"><span>&raquo;</span></li>
						    {% endif %}
						  </ul>
						{% endif %}
					</form>								
				</div>
				
			</div>
		</div>
{% endblock %}