
{% load staticfiles %}
{% load humanize %}

{% block javascript %}
  
  	<script>
  		$(function() {
  			$(".auto-complete-vehicle").autocomplete({
				source: "{% url 'fleet:get_vehicle' %}",
	    		minLength: 2});

  			$(".auto-complete-driver").autocomplete({
				source: "{% url 'fleet:get_employee' %}",
	    		minLength: 2});
  		});

	</script>	

{% endblock %}
<b>Stock Items</b>	
<table class="table table-hover ">							
	<tr>
		<th>Item Name</th>
		<th class="col-hidden">Item Code</th>
		<th>Category</th>																
		<th></th>
		<th></th>
	</tr>								
	{% for item in items_list %}
		<tr>
			<td>{{ item.item_name }}</td>
			<td class="col-hidden">{{ item.item_code }} </td>
			<td>{{ item.category }} </td>																																
			<td><a href="{% url 'inventory:edit_stockitem' item.id %}"><i class="fa fa-check-square-o" aria-hidden="true"></i> Edit</a></td>
			<th></th>
		</tr>										
	{% endfor %}						
</table>
{% if items_list.has_other_pages %}
  <ul class="pagination pull-right">
    {% if items_list.has_previous %}
      <li><a href="?page={{ items_list.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
     <li class="active"><span>{{  items_list.number }} of {{items_list.paginator.num_pages}}<span class="sr-only">(current)</span></span></li> 
    {% if items_list.has_next %}
      <li><a href="?page={{ items_list.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
